
/*.container {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("https://i.imgur.com/R8Zj0uP.png");
  background-color: #cccccc;
  background-size: cover;
  background-attachment: fixed;
}



.box {
  background: pink;
  border: 1px solid rgb(223, 31, 175);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
} 

button {
    position:absolute;
    width: 100px; 
    height: 100px;
    color: red;
    background-color: pink;
    bottom:0px;
} */

.hidden {
  display: none;
}



.container {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: 1px solid red;
  background-color: pink;
}

.box {
  flex-grow: 1;
  width: 28%;
  height: 28%;
  background-color: white;
  margin: 3px;
  text-align: center;
}