body {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../images/music.png");
}

.hidden {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border: 20px solid red;
  background-color: red;
}

.box {
  flex-grow: 1;
  width: 28%;
  height: 28%;
  background-color: white;
  margin: 3px;
  text-align: center;
}

button {
  background-color: red;
  color: white; 
  width: 100px; 
  height: 50px;
  text-align:center
  float:left;
}

h1 {
color: red;
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
font-family: 'Ruslan Display', cursive;
text-align:center
}

h2 {
color: red;
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
text-align:center

}

input {
  border-width: thick; 
  width: 200px;
  height: 30px; 
  border-color: black; 
  font-size: 20px; 
  font-family: 'Ruslan Display', cursive;

}

#instructions {
  background-color: black; 
  color: white; 
}

.underBox {
  text-align:center

}